COMPOSE_PROJECT_NAME=event-driven-platform

POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=order_platform
POSTGRES_PORT=5433

KAFKA_BROKER_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_EXTERNAL_PORT=29092

RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
